@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.about,
.gallery,
.contact,
.home {
  background-color: #271c19;

  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.nav {
  color: #271c19;
}

div.section {
  z-index: -1;
  position: relative;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  padding-bottom: 40px;
}

/*
.container  {

  background-color: #fffffe;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  padding: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 3%);
}
*/

/* Styls for the list (Home, Project, About, Contact)*/
ul.headerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.header {
  display: inline;
  float: center;
  color: #271c19;
}

.header li a {
  display: block;
  color: #271c19;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #271c19;
}

/* ---------- Home Page Styles ---------- */
html * {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #a9a9a9;
  color:#271c19;
}

.header {
  display: none;
}  

#homepage.container  {
  background-color: #fffffe;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.row {
  display: flex;
  justify-content: center;
}



/* ---------- Gallery Page Styles ---------- */
@import "~react-image-gallery/styles/css/image-gallery.css";

div.section {
    z-index: -1;
    position: relative;
}

 /* Style the Image Used to Trigger the Modal */
 #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  } 

/* ---------- About Page Styles ---------- */
 #title.aboutText {
  margin: 1.5em;
  text-justify: inter-word;
}

#text1.aboutText {
  margin: 2.5em;
  transform: rotate(-15deg);
}
#text2.aboutText {
  margin: 2.5em;
  transform: rotate(30deg);
}
#text3.aboutText {
  margin: 2.5em;
  transform: rotate(15deg);
}
#text4.aboutText {
  margin: 2.5em;
  transform: rotate(15deg);
}

/* ---------- Contact Page Styles ---------- */
.formControl {
  background-color: #dedede;
  min-width: 100%;
  min-height: 40px;
}

.formMessage {
  background-color: #dedede;
  min-width: 100%;
  min-height: 200px;
}

.col-log {
  min-width: 100%;
}

/* ---------- Footer Styles ---------- */
footer {
  background-color: #696969;
  color: #271c19;
}

a.icons-footer:link
{
 color: #271c19;
 text-decoration: none;
}
a.icons-footer:visited
{
 color: #271c19;
 text-decoration: none;
}
a.icons-footer:hover
{
 color: #271c19;
 text-decoration: none;
}
a.icons-footer:active
{
 color: #271c19;
 text-decoration: none;
}
