@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.about,
.gallery,
.contact,
.home {
  background-color: #271c19;

  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.nav {
  color: #271c19;
}

div.section {
  z-index: -1;
  position: relative;
}

.container  {

  background-color: #fffffe;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  padding: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 3%);
}