html * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffc0ad;
    color:#271c19;
  }
  
  
  #tsparticles {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
  }

  header {
    display: none;
  }  

  

  #homepage.container  {
    background-color: #fffffe;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
    margin: auto auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  /* Styls for the list (Project, About, Contact)*/
  ul.headerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li.header {
    display: inline;
    float: center;
    color: #271c19;
  }
  
  .header li a {
    display: block;
    color: #271c19;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .header li a:hover {
    background-color: #271c19;
  }

 
  
  